extends layout

block content
  h2 Welcome to Computer Science Foundations!
  p This site's primary goal is to simplify the learning and understanding process of the core Computer Science concepts.
  p To begin, select a topic from the navigation bar above.