doctype html
html
  head
    title Computer Science Foundations
    link(rel='stylesheet', href='/cs-foundations/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    link(rel="stylesheet" href="/cs-foundations/highlightjs/styles/github.css")
    script(src="/cs-foundations/highlightjs/highlight.pack.js")
    <script>hljs.initHighlightingOnLoad();</script>
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          a.header-title(href="/cs-foundations/index.html") Computer Science Foundations
        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Basics <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href="/cs-foundations/basics/complexity.html") Complexity Theory
                li
                  a(href="/cs-foundations/basics/heap-stack.html") Heap / Stack
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Data Structures <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href="/cs-foundations/structures/linked-list.html") Linked List
                li
                  a(href="/cs-foundations/structures/doubly-linked-list.html") Doubly Linked List
                li
                  a(href="/cs-foundations/structures/skip-list.html") Skip List
                li
                  a(href="/cs-foundations/structures/avl-tree.html") AVL Tree
                li
                  a(href="/cs-foundations/structures/binary-tree.html") Binary Tree
                li
                  a(href="/cs-foundations/structures/adjacency-list.html") Adjacency List
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Sorting <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href="/cs-foundations/sorting/insertion.html") Insertion Sort
                li
                  a(href="/cs-foundations/sorting/selection.html") Selection Sort
                li
                  a(href="/cs-foundations/sorting/merge.html") Merge Sort
                li
                  a(href="/cs-foundations/sorting/heapsort.html") Heapsort
                li
                  a(href="/cs-foundations/sorting/quicksort.html") Quicksort
                li
                  a(href="/cs-foundations/sorting/bubble.html") Bubble Sort
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Searching <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href="/cs-foundations/searching/dfs.html") Depth-First Search (DFS)
                li
                  a(href="/cs-foundations/searching/bfs.html") Breadth-First Search (DFS)
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Operations <span class="caret"></span>
              ul.dropdown-menu
                li
                  a(href="/cs-foundations/operations/school-addition.html") School Method for Addition
                li
                  a(href="/cs-foundations/operations/school-multiplication.html") School Method for Multiplication
                li
                  a(href="/cs-foundations/operations/karatsuba.html") Karatsuba Multiplication

    div.container
      block content
